/* THEME */
:root {
    --arcadian-bg: #F7F7F7;        /* Lighter background */
    --arcadian-dark: #1C2833;      /* Near Black Text/Primary Dark */
    --arcadian-primary: #4FBDBA;
    --arcadian-secondary: #6C7A89; /* Muted Gray */
    --arcadian-border: #E0E7FF;    /* Very light blue border/separator */
    --font-stack: 'Poppins', sans-serif;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-stack);
    background-color: var(--arcadian-bg);
    color: var(--arcadian-dark);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 

    scroll-behavior: smooth;
}

a {
    color: var(--arcadian-primary);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    text-decoration: underline;
}

a.inline-link {
    color: var(--arcadian-link);
    text-decoration: underline;
    transition: color 0.2s ease;
} 
/* TODO */

.primary-text {
    color: var(--arcadian-primary);
}

.link-style:hover {
    color: var(--arcadian-dark);
}

/* .hidden {
    display: none !important;
} */

/* TODO: SECTION INCOMPLETE */

/* MAIN CONTAINER STYLE */
.card-container {
    max-width: 1100px;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    padding: 2.5rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* HEADER AND TOP SECTION STYLING */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--arcadian-border);
}

@media (min-width: 768px) { 
    .profile-header {
        flex-direction: row;
    }
}

.profile-info-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 0.75rem;
    object-fit: cover;
    object-position: center 20%;
    border: 4px solid rgba(79, 189, 186, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.profile-name {
    font-size: 1.875rem;
    font-weight: 800;
    color: var(--arcadian-dark);
}

.profile-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--arcadian-secondary);
}

.social-media-summary {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .social-media-summary {
        margin-top: 0;
    }
}

.social-media-box {
    padding-right: 1.5rem;
}

.social-media-box.border-separator {
    border-right: 1px solid var(--arcadian-border);
}

.social-media-icon {
    font-size: 1.75rem; 
    font-weight: 700; 
    color: var(--arcadian-dark);
}

.social-media-label {
    font-size: 0.75rem; 
    color: var(--arcadian-secondary);

    font-weight: 300; 
}

.social-media-icon:hover { color: var(--arcadian-secondary); transition: all 0.2s ease;}

/* NAVIGATION TABS STYLING */
.tabs-nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--arcadian-border);
    padding: 0;
    position: relative; /* for sliding tab indicator */
}

.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--arcadian-secondary);

    transition: color 0.2s ease, transform 0.1s;
    white-space: nowrap;

    position: relative;
    z-index: 20;
}


.tab-button:hover:not(.active) {
    border-bottom-color: rgba(79, 189, 186, 0.5); 
}

.tab-button:hover:not(.active) {
    color: var(--arcadian-dark);
}

.tab-button.active {
    color: var(--arcadian-dark);
}

/* Chrome black border remove */
.tab-button:focus {
  outline: none; 
}


.tab-indicator {
    position: absolute;
    bottom: -1px;
    height: 4px;
    background-color: var(--arcadian-primary);
    border-radius: 9999px;
    z-index: 10;
    transition: 
        left 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6), 
        width 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6); 
}

/* SCROLL BAR STYLING */
.scrollable-content {
    max-height: 70vh; 
    overflow-y: scroll;
    padding-right: 0.5rem; 
}

/* Custom Scrollbar Styling (Webkit only) */
.scrollable-content::-webkit-scrollbar {
    width: 6px;
}
.scrollable-content::-webkit-scrollbar-thumb {
    background: #B2DFDB; /* Light teal/cyan */
    border-radius: 10px;
}
.scrollable-content::-webkit-scrollbar-track {
    background: white;
}

/* ------------- */
/* MAIN SECTIONS */
/* ------------- */
.portfolio-section-wrapper {
    transition: max-height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                opacity 0.8s ease-in-out; 
    max-height: 0; 
    opacity: 0;
    overflow: hidden; 
}

.portfolio-section-wrapper.active-section {
    max-height: 2000px; 
    opacity: 1;
}

.portfolio-section {
    padding-bottom: 1rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--arcadian-dark);
    margin-bottom: 1rem;
}

.sub-title {
    margin-top: 2rem; 
}

/* ABOUT SECTION */
.section-text {
    color: var(--arcadian-secondary);
    line-height: 1.6; 
    margin-bottom: 1.5rem;
    border-left: 4px solid var(--arcadian-primary);
    padding-left: 1rem;
}

.edu-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .edu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.edu-card {
    padding: 1rem;
    background-color: var(--arcadian-bg);
    border-radius: 0.5rem;
}

.edu-place {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--arcadian-secondary);
}

.edu-title {
    font-size: 1.125rem; 
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.edu-about {
    font-size: 0.875rem; /* text-lg */
    font-weight: 100;
    color: var(--arcadian-dark);
}

/* Source: https://codepen.io/jakejarvis/pen/pBZWZw */
.about-wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/* About - Terminal Design */
.terminal-window {
    background-color: #282c34; /* Dark background for the terminal */
    border-radius: 8px;
    overflow: hidden; /* Ensures content doesn't spill out */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.terminal-header{
    background-color: #3a3f4b;
    padding: 8px;
    display: flex;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.dot.red {
    background-color: #ff5f56;
}

.dot.yellow {
    background-color: #ffbd2e;
}

.dot.green {
    background-color: #27c93f;
}
.terminal-content {
    padding: 15px;
    color: #abb2bf; 
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    height: calc(100% - 36px); 
}

.terminal-user {
    color: #61afef; 
    /* color: var(--arcadian-primary); */
}

.terminal-cursor {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
            opacity: 0; /* Cursor disappears at 50% of the animation */
        }
}

/* EXPERIENCE SECTION */
.experience-list {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.experience-item {
    padding: 1rem;
    border: 1px solid var(--arcadian-border);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    transition: box-shadow 0.2s ease;
}

.experience-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.job-company {
    color: var(--arcadian-primary);
}

.job-title {
    font-size: 1.125rem; 
    font-weight: 700;
    color: var(--arcadian-dark);
}

.job-date {
    font-size: 0.875rem;
    color: var(--arcadian-secondary);
    font-style: italic;
    margin-top: 0.25rem;
}

.job-desc {
    font-size: 0.875rem; 
    font-weight: 100;
    color: var(--arcadian-secondary);
    margin-top: 0.5rem;
}

.job-company:hover {
    text-decoration: none;
    color: var(--arcadian-dark);
    transition: color 0.2s ease;
}

/* PROJECTS SECTION */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 1024px) { 
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.projects-card {
    background-color: var(--arcadian-bg);
    padding: 1rem;
    border-radius: 0.75rem;
    
    border: 1px solid var(--arcadian-border);
    transition: box-shadow 0.2s ease;
}

.projects-card:hover {
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.05);
}

.project-folder-icon {
    font-size: 1.5rem;
}

.project-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--arcadian-dark);
}

.project-description {
    font-size: 0.875rem; 
    font-weight: 100;
    color: var(--arcadian-dark);
    margin-top: 0.25rem;
}

.project-footer {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-tag {
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px; 
}

.project-tag.primary-bg {
    background-color: var(--arcadian-dark);
    color: white;
}

.project-link:hover {
    text-decoration: none;
    color: var(--arcadian-dark);
    transition: color 0.2s ease;
}

/* RESEARCH SECTION */
.research-list {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.research-item {
    padding: 1rem;
    border: 1px solid var(--arcadian-border);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    transition: box-shadow 0.2s ease;
}

.research-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.research-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.research-supervisor {
    color: var(--arcadian-primary);
}

.research-title {
    font-size: 1.125rem; 
    font-weight: 700;
    color: var(--arcadian-dark);
}

.research-date {
    font-size: 0.875rem;
    color: var(--arcadian-secondary);
    font-style: italic;
    margin-top: 0.25rem;
}

.research-desc {
    font-size: 0.875rem; 
    font-weight: 100;
    color: var(--arcadian-secondary);
    margin-top: 0.5rem;
}

.research-footer {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.research-tag {
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px; 
}

.research-tag.primary-bg {
    background-color: var(--arcadian-dark);
    color: white;
}

.research-link:hover {
    text-decoration: none;
    color: var(--arcadian-dark);
    transition: color 0.2s ease;
}
.research-supervisor:hover {
    text-decoration: none;
    color: var(--arcadian-dark);
    transition: color 0.2s ease;
}
/* FOOTER STYLING */
.main-footer {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--arcadian-border);
    text-align: center;
}

.contact-info {
    font-size: 0.875rem; 
    font-weight: 500;
    color: var(--arcadian-dark);
    margin-bottom: 0.5rem;
}

.copyright {
    font-size: 0.75rem; 
    color: var(--arcadian-secondary);
}

/* ALT SCREEN SIZE COMPATABILITY*/

@media (max-width: 768px) {
    body { 
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    img {
    max-width: 100%;
    height: auto;
    }   
    
    .card-container {
        padding: 1rem;
        border-radius: 1rem;
    }

    .tabs-nav {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .tabs-nav::-webkit-scrollbar {
        display: none;
    }


    .tabs-nav {
        scrollbar-width: none;
    }

    .tabs-nav .tab-button {
        flex: 0 0 auto;
    }

    body {
        margin: 0;
        min-height: 100vh;
        display: block;        
        min-width: 0;          
        background: transparent;
        color: inherit;
    }
}

/* Prevent webkit inverting colour on dark mode */
body,
.nav-links a,
.section-about h2,
.section-about h3,
.section-about p,
footer p {
  -webkit-text-fill-color: initial; 
  color-scheme: light; 
}
